{
    "propertySettings.phoneIMEI": "863818028323849",
    "propertySettings.phoneIMSI": "460004307995392",
    "propertySettings.phoneSimSerial": "89860093622417413345",
    "propertySettings.phoneAndroidId": "bb66ad8fd6c4c648",
    "propertySettings.phoneModel": "SM-G9880",
    "propertySettings.phoneManufacturer": "samsung",
    "propertySettings.macAddress": "00DB7C9E7F83",
    "statusSettings.sharedApplications": "C:/Users/Twig/Documents/XuanZhi/Applications",
    "statusSettings.sharedPictures": "C:/Users/Twig/Documents/XuanZhi/Pictures",
    "statusSettings.sharedMisc": "C:/Users/Twig/Documents/XuanZhi/Misc",
    "basicSettings.left": 0,
    "basicSettings.top": 0,
    "basicSettings.width": 0,
    "basicSettings.height": 0,
    "basicSettings.realHeigh": 0,
    "basicSettings.realWidth": 0,
    "networkSettings.networkEnable": true,
    "basicSettings.isForstStart": false,
    "basicSettings.mulFsAddSize": 0,
    "basicSettings.mulFsAutoSize": 2,
    "basicSettings.autoRun": false,
    "basicSettings.rootMode": true,
    "statusSettings.closeOption": 0,
    "basicSettings.verticalSync": false,
    "basicSettings.heightFrameRate": false,
    "basicSettings.adbDebug": 1,
    "advancedSettings.resolution": {
        "width": 1600,
        "height": 900
    },
    "advancedSettings.resolutionDpi": 240,
    "advancedSettings.cpuCount": 4,
    "advancedSettings.memorySize": 3072,
    "propertySettings.phoneNumber": "",
    "basicSettings.autoRotate": true,
    "basicSettings.isForceLandscape": false,
    "basicSettings.lockWindow": false,
    "advancedSettings.micphoneName": "",
    "advancedSettings.speakerName": "",
    "networkSettings.networkSwitching": false,
    "networkSettings.networkStatic": false,
    "networkSettings.networkAddress": "0.0.0.0",
    "networkSettings.networkGateway": "0.0.0.0",
    "networkSettings.networkSubnetMask": "255.255.255.0",
    "networkSettings.networkDNS1": "8.8.8.8",
    "networkSettings.networkDNS2": "8.8.4.4",
    "networkSettings.networkInterface": "",
    "basicSettings.disableMouseFastOpt": true,
    "basicSettings.cjztdisableMouseFastOpt_new": 0,
    "basicSettings.HDRQuality": 0,
    "basicSettings.qjcjdisableMouseFast": 1,
    "basicSettings.fps": 60,
    "basicSettings.astc": true,
    "hotkeySettings.backKey": {
        "modifiers": 0,
        "key": 27
    },
    "hotkeySettings.homeKey": {
        "modifiers": 0,
        "key": 112
    },
    "hotkeySettings.appSwitchKey": {
        "modifiers": 0,
        "key": 113
    },
    "hotkeySettings.menuKey": {
        "modifiers": 0,
        "key": 114
    },
    "hotkeySettings.zoomInKey": {
        "modifiers": 0,
        "key": 115
    },
    "hotkeySettings.zoomOutKey": {
        "modifiers": 0,
        "key": 116
    },
    "hotkeySettings.bossKey": {
        "modifiers": 2,
        "key": 81
    },
    "hotkeySettings.shakeKey": {
        "modifiers": 0,
        "key": 120
    },
    "hotkeySettings.operationRecordKey": {
        "modifiers": 0,
        "key": 121
    },
    "hotkeySettings.fullScreenKey": {
        "modifiers": 0,
        "key": 122
    },
    "hotkeySettings.showMappingKey": {
        "modifiers": 0,
        "key": 123
    },
    "hotkeySettings.videoRecordKey": {
        "modifiers": 0,
        "key": 119
    },
    "hotkeySettings.mappingRecordKey": {
        "modifiers": 0,
        "key": 117
    },
    "hotkeySettings.keyboardModelKey": {
        "modifiers": 2,
        "key": 70
    }
}